body{
	background:rgba(0,0,0,0.3);
}
.box{
	position:absolute;
	top:50%;
	left:50%;
	width:400px;
	padding:40px;
	background:rgba(0,0,0,0.5);
	transform:translate(-50%,-50%);
	border-radius:10px;
	font-family:cursive;
}
.box h2{
	margin:0 0 30px;
	padding:0;
	color:#fff;
	text-align:center;
}
.box .inputbox input{
	width:100%;
	padding:10px 0;
	color:#fff;
	margin-bottom:30px;
	border-bottom:1px solid #fff;
	background:transparent;
}
.box label{
	position:absolute;
	color:#fff;
}
.box input{
	background:transparent;
	border:none;
	padding:10px 20px;
	color:#fff;
	background:brown;
	border-radius:10px;
}
.box button{
	background:transparent;
	border:none;
	padding:10px 20px;
	color:#fff;
	background:brown;
	border-radius:10px;
}